<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="LSP IDE">
         <property
               name="windowImages"
               value="/org.eclipse.epp.package.php/eclipse16.png,/org.eclipse.epp.package.php/eclipse32.png,/org.eclipse.epp.package.php/eclipse48.png,/org.eclipse.epp.package.php/eclipse256.png">
         </property>
         <property
               name="aboutText"
               value="Specified in the plugin.xml of the branding plugin.">
         </property>
         <property
               name="aboutImage"
               value="/org.eclipse.epp.package.php/eclipse_lg.png">
         </property>
         <property
               name="startupForegroundColor"
               value="9c9696">
         </property>
         <property
               name="startupProgressRect"
               value="2,290,448,10">
         </property>
         <property
               name="startupMessageRect"
               value="7,265,320,20">
         </property>
      </product>
   </extension>

</plugin>
